@model WorldCupViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>World Cup 2018 - Russia</h2>
<h2>Groups Tables</h2>

<div class="row">

    <div class="col-md-12">
        @foreach (var group in Model.Groups.OrderBy(s => (int)s.GroupLetter))
        {
            <h3>@(group.GroupLetter)</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Team Name</th>
                        <th>Games Played</th>
                        <th>Wins</th>
                        <th>Draws</th>
                        <th>Defeats</th>
                        <th>Goals For</th>
                        <th>Goals Against</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var groupRow in group.GroupRows.OrderBy(s => s.GroupPosition))
                    {
                        <tr>
                            <td>@((int)groupRow.GroupPosition)</td>
                            <td>@groupRow.Team.TeamName</td>
                            <td>@groupRow.GamesPlayed</td>
                            <td>@groupRow.Wins</td>
                            <td>@groupRow.Draws</td>
                            <td>@groupRow.Defeats</td>
                            <td>@groupRow.GoalsFor</td>
                            <td>@groupRow.GoalsAgainst</td>
                            <td>@groupRow.Points</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

</div>

